@model OldGoodsManage.Models.t_Role

@{
    ViewBag.Title = "addRole";
    Layout = "~/Views/Shared/_BgLayout.cshtml";
}
@section Styles
{
  @Styles.Render("~/style/user.css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

 <div class="MainDiv" >
  <table  border="0" cellpadding="0" cellspacing="0" class="CContent" >
  @using (Html.BeginForm())
  {
 
  <tr >
      <th class="tablestyle_title" >角色添加页面</th>
  </tr>
  <tr >
    <td class="CPanel" >
		
		<table border="0" cellpadding="0" cellspacing="0" style="width:100%" >
		<tr>
			<td align="left" >
               
				<input type="button" name="Submit2" value="返回" class="button" onclick="location.href='@Url.Action("RoleList", "Role")'")   />			</td>
		</tr>
       
           
            @Html.ValidationSummary(true)
		<tr align="center">
			<td class="TablePanel">
            </td>
		</tr>
		<tr>
			<td width="100%">
				<fieldset style="height:450px;">
				<legend>添加角色</legend>
					  <table border="0" cellpadding="2" cellspacing="1" style="width:100%">
					 <tr></tr> <tr></tr>
					   <tr>
					    <td nowrap="nowrap" align="right" width="15%">@Html.DisplayNameFor(model => model.roleName):</td>
					    <td width="35%"> @Html.EditorFor(model => model.roleName)
				        <span  class="editor-field"  style=" color:Red">* @Html.ValidationMessageFor(model => model.roleName)</span>
                        </td>
					  </tr> 
                        <tr>
					    <td nowrap="nowrap" align="right" width="15%">@Html.DisplayNameFor(model => model.remarks):</td>
					    <td width="35%"> @Html.EditorFor(model => model.remarks)
                        </td>
					  </tr> 
                       <tr>
                      <td colspan=2>
                      分配权限----------------------------------------------------------------------------------------------------
                      </td>
                      </tr>
                       @foreach (var item in @ViewBag.functionList as List<OldGoodsManage.Models.t_Function>)
                       {
                            <tr>
                              <td nowrap="nowrap" align="left">
                              <input type="checkbox" name="checkboxFunction" value="@item.functionID" />@item.functionName
                            </td>
                            </tr>
                       }
					  </table>
			    <br />
				</fieldset>			
			</td>
		</tr>
        <tr >  
			<td colspan="2" align="center" height="50px">
                <input id="Submit2" type="submit" value="添加" name="action" class="button"/>
             </td>
		</tr>
   	</table>
	 </td>
  </tr>
  }
  </table>

</div>
