@model OldGoodsManage.Models.t_GoodsComplain

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>t_GoodsComplain</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.goodsID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.goodsID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reporterID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reporterID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.reason)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.reason)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.complainTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.complainTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
