@model OldGoodsManage.Models.t_Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户登录</title>
    <link type="text/css" href="../../style/customer.css"  rel="Stylesheet" />
</head>

<body>
<img src="../../Images/bg2.jpg" width="100%" height="100%" style="z-index:-100;position:absolute;left:0;top:0" alt=""/>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="200">&nbsp;</td>
  </tr>
</table>
<table width="543" height="255" border="0" align="center" cellpadding="0" cellspacing="0">
 @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
 {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
  <tr>
    <td background="../../Images/kuang.png">
    <table width="350" border="0" align="center" cellpadding="0" cellspacing="15">
   <tr>
        <td width="25%">@Html.LabelFor(model => model.loginName)</td>
        <td width="75%">
        <div class="div1">
            @Html.EditorFor(model => model.loginName)
            </div><div class="editor-field"  style=" color:Red">
            @Html.ValidationMessageFor(model => model.loginName)
        </div>
        </td>
      </tr>
      <tr>
        <td width="25%">@Html.LabelFor(model => model.password)</td>
        <td width="75%">
        <div class="div2">
         @Html.EditorFor(model => model.password)
          </div><div class="editor-field"  style=" color:Red">
         @Html.ValidationMessageFor(m => m.password)
        
        </div></td>
      </tr>
   
      <tr>
  
     <td style="width: 80px; text-align: right">验证码：
       </td>
      <td>
     @Html.TextBoxFor(model => model.VerificationCode, new { style = "width: 50px;height:25px;border:1px solid #ccc;" })
       @Html.ValidationMessageFor(model=>model.VerificationCode)
       <img id="codeImg" alt="刷新验证码！" style="margin-bottom: -8px; cursor: pointer;" src="../../verify_code.ashx" onclick="this.src=this.src+'?'" />
       <a href="javascript:$('#codeImg').trigger('click')">看不清？</a>
        </td>
       </tr>
       <tr>
       <td></td>
       <td>
       <p>
            <input type="submit" value="登录"  style="background-color:Red"/>
            @Html.ActionLink("注册","Login","Customer")
        </p>
        </td>
       
      </tr>
     
    </table>
   </td>  
   </tr>
 } 
   </table>
 
</body>
</html>
@section Scripts {
   Scripts.Render("~/bundles/jqueryval")
}