@model OldGoodsManage.Models.t_Message


@{
    ViewBag.Title = "系统消息";
    Layout = "~/Views/Shared/personalCenter.cshtml";
}
  @section Styles{
  @Styles.Render("~/style/systemMessage.css")
}
@section scripts{
<script type="text/javascript" src="~/Scripts/systemMessage.js"></script>
}
<div class="divTitle">
<table class="tableMain">
<tr>
<td class="funcTd" style=" background-color:#000000;">@Html.ActionLink("系统消息", "SystemMessage", "Customer")</td>
<td class="funcTd">@Html.ActionLink("商品评论", "CustomerMessage", "Customer")</td>
</tr>
</table>
</div>
<div id="div1">
<ul>
@foreach (var item in @ViewBag.messageList as List<OldGoodsManage.Models.t_Message>)
{
 <li>
<div id="div2" >
<span id="span1">
@ViewBag.dictIdName[item.senderID]&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @item.messageTime.ToString("yyyy-MM-dd")
</span>
 <span><a style="cursor:pointer;color:#8e0000" onclick="ShowDivHidden(@item.messageID)" >回复</a></span>
<br />
<div style="color:#666666;margin-left:50px;width:80%">
@item.message
</div>
<br />
</div>
<div style="width:100%;height:2px;background-color:#666666"></div>
</li>
}

</ul>
</div>
@using(Html.BeginForm("systemMessage","Customer"))
{
<div id="divHidden">
<div>
<div style="margin-top:50px;color:Black;font-size:1.5em;position:relative">请输入回复内容(必填):</div>
<div >
<input id="messageId" name="messageId" type="hidden" />
<textarea  id="textReply" name="messageReply"></textarea>
<input id="btnReply" style="margin-left:50px;cursor:pointer;" type="submit"class="redRound" value="回复" name="action" onclick="CheckText()"  />
<input id="btnCancel" style="margin-left:50px;cursor:pointer" class="redRound" value="取消" onclick="HiddenDiv()" />
</div>
</div>
</div>
    }
